.row {
  color: white;
  margin-left: 20px;
  margin-top: 10px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
  width: 100%;
}
.row__poster:hover {
  transform: scale(1.1);
  opacity: 1;
}
.row__posterlarge {
  max-height: 250px;
  transform: scale(1.2);
}
